<!-- Image and Name -->

<section class=" bg-primary">
  <div class="p-4">
    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4"
    >
      <div
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-secondary dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
       <div class="relative flex items-center gap-x-4">
    <img
        src="/images/avatar.png"
        alt=""
        class="h-32 w-32 rounded-full ring-2 dark:ring-white/10 ring-primary/5"
    />
    <div class="text-xl leading-7">
        <p class="font-semibold text-primary" style="color: primary">
            <a href="#">
                <span class="absolute inset-0"></span>
                Aalayah Honablue
            </a>
        </p>
        <p class="text-black dark:text-black">
            UI Design &amp; Web developer
        </p>
    </div>
</div>

<!-- ****Bio**** -->
        <p
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary" style="color: primary;"
        >
          Hey there, welcome to my cozy corner of the web!
        </p>
        <p
          class="mt-4 text-sm text-white-500 dark:text-black font-light lg:text-xl"
        >
          I'm a digital designer, developer, and crocheter from Seattle. In the
          digital world, I craft interfaces and weave web wonders.
          <br />
          <br />
          My life is a seamless blend of tech and texture, coding sessions intertwined with the peaceful artistry of crafting! 
          <br/>
          <br/>
          Let's knit your online presence together! Whether you're in need of a stunning website or ensuring your online presence stays polished, I'm here to bring your vision to life. 
          <br/>
          <br/>
          Get in touch today and let's start crafting something special!
        </p>
      </div>

<!--****Find Me On****-->
  <div
        class="ring-1 dark:ring-white/10 ring-primary/5 rounded-3xl justify-between shadow-xl dark:shadow-thick items-center flex flex-col p-8 h-full bg-secondary  dark:bg-secondary"
      >
        <div class="w-full">
          <p
            class="text-xl font-normal tracking-tight text-primary lg:text-8xl" style="color: primary;"
          >
            Find me on
          </p>
        </div>



        <div class="grid mt-4 grid-cols-4 md:grid-cols-8 lg:grid-cols-4 gap-y-4 gap-4 justify-center w-full">
         <!--GitHub-->
          <a href="https://github.com/layahblue" class="flex items-center justify-center aspect-square shadow-lg dark:shadow-md hover:bg-primary ring-2 ring-primary dark:ring-primary dark:bg-tertiary rounded-lg duration-300 group transition-all h-16 w-16">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github h-8 w-8 group-hover:scale-125 duration-300 text-primary dark:text-zinc-400 group-hover:text-primary:dark:text-white" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
            </svg>
          </a>
            <!--Email-->
          <a href="mailto:Aalayah4265@gmail.com" class="flex items-center justify-center aspect-square shadow-lg dark:shadow-md hover:bg-primary ring-2 ring-primary dark:ring-primary dark:bg-tertiary rounded-lg duration-300 group transition-all h-16 w-16">
  <svg xmlns="http://www.w3.org/2000/svg" class="iicon icon-tabler icon-tabler-mail h-8 w-8 group-hover:scale-125 duration-300 text-primary dark:text-zinc-400 group-hover:text-primary:dark:text-white" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
    <path d="M3 7l9 6l9 -6" />
  </svg>
</a>

          </a>
            <!--LinkedIn-->
          <a href="https://www.linkedin.com/in/aalayah-honablue-192a68149/" class="flex items-center justify-center aspect-square shadow-lg dark:shadow-md hover:bg-primary ring-2 ring-primary dark:ring-primary dark:bg-tertiary rounded-lg duration-300 group transition-all h-16 w-16">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin h-8 w-8 group-hover:scale-125 duration-300 text-primary dark:text-zinc-400 group-hover:text-primary:dark:text-white" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                  <path d="M8 11l0 5" />
                  <path d="M8 8l0 .01" />
                  <path d="M12 16l0 -5" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
          </a>

          <!--Behance-->
          <a href="https://www.behance.net/aalayahhonablue" class="flex items-center justify-center aspect-square shadow-lg dark:shadow-md hover:bg-primary ring-2 ring-primary dark:ring-primary dark:bg-tertiary rounded-lg duration-300 group transition-all h-16 w-16">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-behance h-8 w-8 group-hover:scale-125 duration-300 text-primary dark:text-zinc-400 group-hover:text-primary:dark:text-white" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 18v-12h4.5a3 3 0 0 1 0 6a3 3 0 0 1 0 6h-4.5" />
              <path d="M3 12l4.5 0" />
              <path d="M14 13h7a3.5 3.5 0 0 0 -7 0v2a3.5 3.5 0 0 0 6.64 1" />
              <path d="M16 6l3 0" />
            </svg>
          </a>
            <!--Threads-->
          <a href="https://www.threads.net/@aalayah_honablue" class="flex items-center justify-center aspect-square shadow-lg dark:shadow-md hover:bg-primary ring-2 ring-primary dark:ring-primary dark:bg-tertiary rounded-lg duration-300 group transition-all h-16 w-16">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-threads h-8 w-8 group-hover:scale-125 duration-300 text-primary dark:text-zinc-400 group-hover:text-primary:dark:text-white" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M19 7.5c-1.333 -3 -3.667 -4.5 -7 -4.5c-5 0 -8 2.5 -8 9s3.5 9 8 9s7 -3 7 -5s-1 -5 -7 -5c-2.5 0 -3 1.25 -3 2.5c0 1.5 1 2.5 2.5 2.5c2.5 0 3.5 -1.5 3.5 -5s-2 -4 -3 -4s-1.833 .333 -2.5 1" />
            </svg>
          </a>
            <!--Twitter-->
          <a href="#_" class="flex items-center justify-center aspect-square shadow-lg dark:shadow-md hover:bg-primary ring-2 ring-primary dark:ring-primary dark:bg-tertiary rounded-lg duration-300 group transition-all h-16 w-16">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x h-8 w-8 group-hover:scale-125 duration-300 text-primary dark:text-zinc-400 group-hover:text-primary:dark:text-white" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
  <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
              </svg>
          </a>
          <!--Instagram-->
          <a href="https://www.instagram.com/aalayah_honablue/" class="flex items-center justify-center aspect-square shadow-lg dark:shadow-md hover:bg-primary ring-2 ring-primary dark:ring-primary dark:bg-tertiary rounded-lg duration-300 group transition-all h-16 w-16">
            <svg xmlns="http://www.w3.org/2000/svg" class=" icon icon-tabler icon-tabler-brand-instagram h-8 w-8 group-hover:scale-125 duration-300 text-primary dark:text-zinc-400 group-hover:text-primary:dark:text-white" viewBox="0 0 24 24" stroke-width="1." stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
  <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
  <path d="M16.5 7.5l0 .01" />
              </svg>
          </a>
            <!--Meta-->
          <a href="#_" class="flex items-center justify-center aspect-square shadow-lg dark:shadow-md hover:bg-primary ring-2 ring-primary dark:ring-primary dark:bg-tertiary rounded-lg duration-300 group transition-all h-16 w-16">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-meta h-8 w-8 group-hover:scale-125 duration-300 text-primary dark:text-zinc-400 group-hover:text-primary:dark:text-white" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z" />
  <path d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z" />
              </svg>
          </a>
  
        </div>


<!-- ***Website Portfolio**** -->


  </div>
<div class="ring-1 lg:row-span-2 flex flex-col justify-between group hover:ring-primary/10 dark:hover:ring-white/20 duration-300 h-full dark:ring-white/10 ring-primary/5 lg:row-start-2 md:grid-cols-2 md:grid lg:gap-0 md:items-center md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 bg-secondary dark:bg-secondary shadow-xl dark:shadow-thick">
  <div>
    <p class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl">
      Website Portfolio
    </p>
    <p class="mt-4 text-sm text-black dark:text-black">
      Design & development showcase.
      <br />
      <br />
      Below, you'll find a curated selection of projects that showcase my skills, creativity, and passion for web design. Each website reflects my dedication to crafting unique and functional digital experiences for clients like you. Take a look around and get inspired for your next project!
    </p>
  </div>
  <div class="mt-8 grid grid-cols-2 md:grid-cols-2 gap-2">
    <a href="https://georgestreetinc.netlify.app" target="_blank" class="rounded-2xl">
      <img src="/images/gs.png" class="w-full h-full" alt="">
    </a>
    <a href="https://idol-rank.netlify.app" target="_blank" class="rounded-2xl">
      <img src="/images/idol.png" class="w-full h-full" alt="">
    </a>
    <a href="https://circulyr.netlify.app" target="_blank" class="rounded-2xl">
      <img src="/images/circle.png" class="w-full h-full" alt="">
    </a>
    <a href="https://www.watrust.com/careers/" target="_blank" class="rounded-2xl">
      <img src="/images/watrust.png" class="w-full h-full" alt="">
    </a>
  </div>
</div>

      
      
 <!-- ****Grab My Resume**** -->     
      <div
        class="ring-1 dark:ring-white/10  ring-primary/5 flex flex-col justify-between items-center rounded-3xl shadow-xl dark:shadow-thick p-8  bg-secondary dark:bg-secondary overflow-hidden text-center lg:text-left"
      >
        <div>
          <p
            class="text-xl text-white dark:text-white lg:text-7xl tracking-tight"
          >
            Peek at my resumé!
          </p>
          <p class="mt-4 text-sm text-black dark:text-black-400 md:max-w-xs lg:max-w-none">
            It provides a comprehensive overview of my career trajectory and accomplishments.
          </p>
        </div>
        <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
  <a href="/images/resume.pdf" download>
    <button
      type="button"
      class="text-sm py-2 w-full px-4 h-12 dark:shadow-md hover:bg-primary ring-2 ring-primary dark:ring-primary dark:bg-tertiary focus:ring-40 rounded-lg flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
    >

    <!--font-semibold shadow-lg dark:shadow-md hover:bg-zinc-700 ring-2 ring-primary dark:ring-primary dark:bg-tertiary rounded-lg duration-300 group transition-all focus:ring-inline-flex **** -->
      Download my CV
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-download w-4 h-4"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path
          d="M7 11l5 5l5 -5"></path><path d="M12 4l0 12"></path></svg
      >
    </button>
  </a>
</div>

      </div>
      <a
        href=""
        class="ring-1 lg:row-start-3 items-center h-full flex p-8 flex-col justify-center hover:ring-primary/5 dark:hover:ring-white/20 dark:ring-white/10 ring-primary/5 relative rounded-3xl overflow-hidden bg-secondary dark:bg-secondary shadow-xl dark:shadow-thick"
      >
        <image src="/images/me.png" class="w-55 h-55" alt=""> </image>
        <p
          class="text-xl  text-black dark:text-black lg:text-2xl mt-6"
        >
          Cozy Girl Coding
        </p>
      

      <!-- ****Testimonials**** --> 
      <a
        
        class="lg:row-span-2 ring-1 dark:ring-primary/10 ring-primary/5 hover:ring-primary/5 bg-secondary   dark:hover:ring-white/20 overflow-hidden duration-300 shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="-mr-4">
          <img
            src="/images/testimonial.png"
            class="rounded-2xl "
            alt=""
          />
        </div>
        <div class="mt-8">
          <div class="flex flex-wrap">           
            <div
              class="flex items-center ml-6 text-sm font-medium text-primary dark:text-white"
            >
            </div>
          </div>
          <p
            class="ext-xl tracking-tight font-small text-primary dark:text-primary md:text-6xl mt-6"
          >
            Testimonials
          </p>
          <div class="md:grid md:grid-cols-2 gap-6 lg:grid-cols-1">
          <div class="mt-4">
            <p class="text-sm text-black-500 dark:text-black">
              "Big fan of your themes. They're well-organized, look clean, and
              are fast."
            </p>
            <p class="text-xs mt-2 text-black">
              <span class="block text-xs">Kevin Focke</span>
              <span class="block text-xs"> Developer</span>
            </p>
          </div>
          <div class="mt-4">
            <p class="text-sm text-black dark:text-black">
              "Amazing resource using @astrodotbuild and @tailwindcss! I got it
              a week ago and have found the contents really useful. 5/5
            </p>
            <p class="text-xs mt-2 text-black">
              <span class="block text-xs">Alonso</span>
              <span class="block text-xs"> Entrepreneur</span>
            </p>
          </div>
           <div class="mt-4">
            <p class="text-sm text-black-500 dark:text-black">
              "Her expertise delivered a stunning website that boosted our traffic and conversions. Highly recommend!"
            </p>
            <p class="text-xs mt-2 text-black">
              <span class="block text-xs">Emily Johnson</span>
              <span class="block text-xs"> Business Owner</span>
            </p>
          </div>
        </div>
        </div>
      </a>




      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 shadow-xl dark:shadow-thick rounded-3xl p-8 lg:row-end-4 h-full flex flex-col bg-secondary dark:bg-secondary"
      >
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
        >
          Contact
        </p>
        <div class="md:grid md:grid-cols-2 gap-6 lg:grid-cols-1">
          <div class="mt-4">
            <p class="text-md mt-2 text-white-500">
              <span class="block text-lg">Phone Number</span>
              <span class="block text-md"> (509)768-4265</span>
            </p>
          </div>
          <div class="mt-4">
            <p class="text-md mt-2 text-white-500">
              <span class="block text-lg">Address</span>
              <span class="block text-md"> 3321 Ballenger Center Drive Suite 125 Frederick, Maryland 21703 </span>
            </p>
        </div>
      </div>
      
</section>
